.sideDrawerMini {
    width: 83px;
    height: 100vh;
    position: fixed;
    left: 0;
    background: rgba(246, 45, 168, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideDrawerMini ul {
    list-style: none;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
}
.sideDrawerMini ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}